.potentialFriendContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.potentialFriendTitle{
    font-size: 25px;
    font-weight: bold;
}

.potentialFriendCards{
    display: flex;
    gap: 10px;
}

.potentialFriendCardTemp{
    color: var(--shadow-medium);
}