.friendRequestContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.friendRequestTitle{
    font-size: 25px;
    font-weight: bold;
}

.friendRequestCards{
    display: flex;
    gap: 10px;
}

.friendRequestCardTemp{
    color: var(--shadow-medium);
}