.joinedGroupContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.joinedGroupTitle{
    font-size: 25px;
    font-weight: bold;
}

.joinedGroupCards{
    display: flex;
    gap: 10px;
}

.joinedGroupCardTemp{
    color: var(--shadow-medium);
}