.homePage{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 25px;
}

.postCardDone{
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 20px;
    color: var(--shadow-medium);
}

.postCardNone{
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: var(--shadow-medium);
}