.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.logo {
    color: #1778F2;
    font-size: 40px;
    font-weight: 700;
}

.card {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 5px;
}

.titleTxt {
    margin-bottom: 5px;
}

.field {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

.loginBtn {
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #1778F2;
}

.loginBtn:active {
    background-color: #0064de;
}

.forgotTxt {
    cursor: pointer;
    color: #1778F2;
    font-size: 13px;
    text-decoration: none;
}

.forgotTxt:hover {
    text-decoration: underline;
}

.forgotTxt:active {
    color: #0064de;
}

.registerBtn {
    cursor: pointer;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #42b72a;
    text-decoration: none;
}

.registerBtn:active {
    background-color: #399a25;
}