.groupInviteContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.groupInviteTitle{
    font-size: 25px;
    font-weight: bold;
}

.groupInviteCards{
    display: flex;
    gap: 10px;
}

.groupInviteCardTemp{
    color: var(--shadow-medium);
}